<!--
  This HTML file is responsible for the display of title headers/information,
    and of one application component. No functionality is present, which is
    reflected in the mostly-empty typescript file.
-->


<!-- An outer container to hold everything, an alternative to <div></div> (both work)-->
<ng-container>

  <!-- TITLE: Shows the user header information -->
  <ng-container>
    <h1 class="cus-main-header">
      Detection/Discrimination Task GUI
    </h1>

    <h5 class="cus-main-header">
      Brain-Spine-Machine Interfaces Lab: Dr. Amol Yadav
    </h5>

    <h5 class="cus-main-header">
      Author: Scott Miller, Jacob Slack
    </h5>
  </ng-container>

  <!-- APP COMPONENT: Displays the application component constructed under the "device-startup" project files -->
  <app-device-startup></app-device-startup>

  <!-- FOOTER: Shows the user some extra information -->
  <ng-container>
    <h5 class="cus-main-header">
      Project Version 2025
    </h5>
  
</ng-container>

