.cus-form-field {
    /*
        This designates the appearance of the form fields in the
          device-startup component. These fields are responsible
          for user input of session and stimulator parameters.
    */

    width: stretch; /* stretches the form field to fit the column size*/
    max-height: 75px; /* fixes the height of the form field box */
    font-size: 14px; /* fixes the font size of the text in the box */
    padding-left: 8px; /* adds padding to the left for cleanliness */
    padding-right: 8px; /* adds padding to the right for cleanliness */
}

.example-viewport {
    /*
        This designates the appearance of the scroll viewport in the
          device-startup component. This field is responsible for displaying
          the strings printed from the Gibson and Arduino devices for the
          user to see.
    */

    height: 500px; /* fixes the height of the viewport */
    width: stretch; /* stretches the width to fit the column */
    border: ridge; /* changes the style of the border */
    padding-left: 20px; /* adds padding to the left of the viewport */
    overflow: auto; /* defines overflow behavior for when enough statements print */
}

.example-item {
    /*
        This designates the appearance of the lines within the viewport in the
          device-startup component. This field is responsible for how each printed
          line is displayed.
    */

    height: 30px; /* fixes the height of each printed line */
    margin-left: 8px; /* adds padding/margin to the left to create space from the border */
}
